a{
    display:flex;
    line-height: 46px;
    background-color: white;
    color:black;
    padding: 0 26px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 26px;
   
}
img{
    display:flex;
    margin-right:auto;
    margin-left:auto;
    justify-content:left;
    width: 500px;
    height: 500px;
    object-fit:cover;
    border-radius: 200px;
  }